#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/backlight.h>

#define DVRK    1
#define QWRT    2
#define GAME    3
#define SYM     4
#define NUM     5
#define SYST    6
#define FUNC    7
#define MODF    8

#define __             &none
#define ++             &trans
#define RGB_MEFS_CMD   &rgb_ug RGB_MEFS_CMD 5

/ {
    behaviors {
      #include "macros.dtsi"

      hm: homerow_mods {
          compatible = "zmk,behavior-hold-tap";
          label = "HOMEROW_MODS";
          #binding-cells = <2>;
          tapping-term-ms = <200>;
          quick_tap_ms = <175>;
          flavor = "tap-preferred";
          bindings = <&kp>, <&kp>;
      };

      qlt: quick_layer_tap {
          compatible = "zmk,behavior-hold-tap";
          label = "QUICK_LAYER_TAP";
          #binding-cells = <2>;
          tapping-term-ms = <125>;
          quick_tap_ms = <175>;
          flavor = "hold-preferred";
          retro-tap;
          bindings = <&mo>, <&kp>;
      };
    
    };
    
  keymap {
    compatible = "zmk,keymap";

    DVORAK {      
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __         __           __           __           __          __         __                                                     &mo MODF     __           __          __            __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __      &kp SEMI    &kp COMMA     &kp DOT       &kp P        &kp Y       __                                                        __        &kp F        &kp G        &kp C        &kp R       &kp L       __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __       &kp A        &kp O        &kp E        &kp U        &kp I       __            __        __         __       __            __        &kp D        &kp H        &kp T        &kp N       &kp S       __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __      &kp SQT       &kp Q        &kp J        &kp K        &kp X                               __         __                               &kp B        &kp M        &kp W        &kp V       &kp Z       __ 
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __        &kp DOWN      &kp UP                  &qlt NUM BSPC   __       __         __   &kp ENTER  &kp SPACE                   &kp LEFT    &kp RIGHT       __           __         __  
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
    };

    QWERTY {      
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __         __           __           __           __          __         __                                                     &mo MODF     __           __          __            __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __       &kp Q        &kp W        &kp E        &kp R        &kp T       __                                                        __        &kp Y       &kp U        &kp I        &kp O        &kp P       __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __       &kp A        &kp S        &kp D        &kp F        &kp G       __            __        __         __       __            __        &kp H       &kp J        &kp K        &kp L      &kp SEMI      __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __         &kp X        &kp C        &kp V        &kp B                               __         __                               &kp N       &kp M      &kp COMMA     &kp DOT     &kp FSLH      __ 
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __        &kp DOWN      &kp UP                  &qlt NUM BSPC   __       __         __   &kp ENTER  &kp SPACE                   &kp LEFT    &kp RIGHT       __           __         __  
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
    };

    GAMING {
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
        &kp ESC     &kp N1       &kp N2       &kp N3        __           __         __                                                        __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp TAB     &kp N1       &kp Q        &kp W        &kp E        &kp R      &kp T                                                      __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LSHFT   &kp N2       &kp A        &kp S        &kp D        &kp F      &kp G          __        __        __        __            __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LCTRL   &kp N3       &kp Z        &kp X        &kp C        &kp V                               __        __                                 __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __                       &kp SPACE    __        __        __        __        __                         __           __           __           __         __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };
    
    SYMBOLS {
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __         __           __           __          __           __         __                                                        __         __          __            __          __           __         __ 
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __      &kp EXCL      &kp AT      &kp HASH    &kp DLLR     &kp PRCNT     __                                                        __     &kp CARET    &kp AMPS     &kp ASTRK    &kp FSLH    &kp QMARK      __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __        &kp RBRC     &kp RBKT    &kp RPAR        __         __            __        __        __        __            __         __       &kp LPAR     &kp LBKT     &kp LBRC        __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __                                 __        __                                 __       &kp PLUS     &kp MINUS       __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __                           __       __        __        __        __        __                         __            __          __           __         __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    NUMBERS {
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __         __           __           __          __           __         __                                                        __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         ++           ++           ++          ++           ++         __                                                        __         ++         &kp N7      &kp N8       &kp N9         ++         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         ++           ++           ++          ++           ++         __            __        __        __        __            __         ++         &kp N4      &kp N5       &kp N6         ++         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         ++           ++           ++          ++           ++                                 __        __                                 ++         &kp N1      &kp N2       &kp N3         ++         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           ++          ++                           ++       __        __        __        ++      &kp N0                        ++           ++          __           __         __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    SYSTEM {
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __         __           __           __          __           __         __                                                        __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __         __                                                        __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __         __            __        __        __        __            __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __                                 __        __                                 __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __                          __        __        __        __        __        __                         __           __           __           __         __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    FUNCTION {
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __       &kp F1       &kp F2       &kp F3       &kp F4      &kp F5     &kp F6                                                    &kp F7    &kp F8       &kp F9       &kp F10     &kp F11      &kp F12       __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __         __                                                        __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __         __            __        __        __        __            __         __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __           __                                 __        __                                 __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __          __                          __        __        __        __        __        __                         __           __           __           __         __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    MODIFIER {
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                               ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   __                                                       ++          __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                               ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __           __          __     &bootloader                                              &bootloader     __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __           __          __         __            __        __     &bt BT_CLR   __       RGB_MEFS_CMD    __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤             ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __           __          __                                 __         __                                __          __           __           __           __         __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __         __           __           __           __                         __        __        __         __  &bl BL_TOG &rgb_ug RGB_TOG             &bl BL_INC  &bl BL_DEC       __           __         __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯               ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

  };

};