#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define DVRK                    0
#define KNES                    1
#define NUMR                    2
#define LOWR                    3

#define FUNC                    &none

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define __                      &none
#define xx                      &trans

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define QUICK_TAP_MS            175
#define TAPPING_TERM_MS         125
#define STICKY_KEY_RELEASE_MS   300

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define KEYS_L                  0 1 2 3 4 5 6 \
                                14 15 16 17 18 19 20 \
                                28 29 30 31 32 33 34 \
                                46 47 48 49 50 51 \
                                60 61 62 63 64

#define KEYS_R                  7 8 9 10 11 12 13 \
                                21 22 23 24 25 26 27 \
                                39 40 41 42 43 44 45 \
                                54 55 56 57 58 59 \
                                71 72 73 74 75

#define THUMBS_L                35 36 52 65 66 67
#define THUMBS_R                37 38 53 68 69 70

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

// #define MAKE_QLT(NAME, HOLD, TAP) \
    // ZMK_HOLD_TAP(NAME, \
        // flavor = "hold-preferred"; \
        // tapping-term-ms = <TAPPING_TERM_MS>; \
        // quick-tap-ms = <QUICK_TAP_MS>; \
        // bindings = <HOLD>, <TAP>; \
        // retro-tap; \
    // )

// MAKE_QLT(qlt, &mo, &kp)

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

/ {
  
    behaviors {

      #include "macros.dtsi"
      #include "version.dtsi"

      qlt: quick_layer_tap {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "hold-preferred";
        tapping-term-ms = <TAPPING_TERM_MS>;
        quick-tap-ms = <QUICK_TAP_MS>;
        bindings = <&mo>, <&kp>;
        display-name = "Quick-Layer-Tap";
      };

      OPLUS: number_one_plus {
              compatible = "zmk,behavior-mod-morph";
              label = "number_one_plus";
              #binding-cells = <0>;
              bindings = <&kp N1>, <&kp PLUS>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      TLBKT: number_two_left_bracket {
              compatible = "zmk,behavior-mod-morph";
              label = "number_two_left_bracket";
              #binding-cells = <0>;
              bindings = <&kp N2>, <&kp LBKT>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      TLBRC: number_three_left_brace {
              compatible = "zmk,behavior-mod-morph";
              label = "number_three_left_brace";
              #binding-cells = <0>;
              bindings = <&kp N3>, <&kp LBRC>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      FLPAR: number_four_left_parenthesis {
              compatible = "zmk,behavior-mod-morph";
              label = "number_four_left_parenthesis";
              #binding-cells = <0>;
              bindings = <&kp N4>, <&kp LPAR>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      FEQUAL: number_five_equal {
              compatible = "zmk,behavior-mod-morph";
              label = "number_five_equal";
              #binding-cells = <0>;
              bindings = <&kp N5>, <&kp EQUAL>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      SAMPS: number_six_amps {
              compatible = "zmk,behavior-mod-morph";
              label = "number_six_amps";
              #binding-cells = <0>;
              bindings = <&kp N6>, <&kp AMPS>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      SLPAR: number_seven_left_parenthesis {
              compatible = "zmk,behavior-mod-morph";
              label = "number_seven_left_parenthesis";
              #binding-cells = <0>;
              bindings = <&kp N7>, <&kp LPAR>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      ERBRC: number_eight_right_brace {
              compatible = "zmk,behavior-mod-morph";
              label = "number_eight_right_brace";
              #binding-cells = <0>;
              bindings = <&kp N8>, <&kp RBRC>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      NRBKT: number_nine_right_bracket {
              compatible = "zmk,behavior-mod-morph";
              label = "number_nine_right_bracket";
              #binding-cells = <0>;
              bindings = <&kp N9>, <&kp RBKT>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      ZGRAVE: number_zero_grave {
              compatible = "zmk,behavior-mod-morph";
              label = "number_zero_grave";
              #binding-cells = <0>;
              bindings = <&kp N0>, <&kp GRAVE>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      BSEXCL: backslash_exclamation {
              compatible = "zmk,behavior-mod-morph";
              label = "backslash_exclamation";
              #binding-cells = <0>;
              bindings = <&kp BSLH>, <&kp EXCL>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      PRQMARK: percent_question_mark {
              compatible = "zmk,behavior-mod-morph";
              label = "percent_question_mark";
              #binding-cells = <0>;
              bindings = <&kp PRCNT>, <&kp QMARK>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      FSPIPE: forward_slash_pipe {
              compatible = "zmk,behavior-mod-morph";
              label = "forward_slash_pipe";
              #binding-cells = <0>;
              bindings = <&kp FSLH>, <&kp PIPE>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };
            
      MIUNDER: minus_underscore {
              compatible = "zmk,behavior-mod-morph";
              label = "minus_underscore";
              #binding-cells = <0>;
              bindings = <&kp MINUS>, <&kp UNDER>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      DLAT: dollar_at {
              compatible = "zmk,behavior-mod-morph";
              label = "dollar_at";
              #binding-cells = <0>;
              bindings = <&kp DLLR>, <&kp AT>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      CASTAR: caret_asterisk {
              compatible = "zmk,behavior-mod-morph";
              label = "caret_asterisk";
              #binding-cells = <0>;
              bindings = <&kp CARET>, <&kp STAR>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
            };

      HATILDE: hash_tilde {
              compatible = "zmk,behavior-mod-morph";
              label = "hash_tilde";
              #binding-cells = <0>;
              bindings = <&kp HASH>, <&kp TILDE>;
              mods = <(MOD_LSFT|MOD_RSFT)>;
        };

    };

    //  +  ` @ # $ %     ^ & * ? !
    //  =  \ [ { ( <     > ) } ] ~
    //     ; , . p y     f g c r l  / |
    //     a o e u i     d h t n s  - _
    //     ' q j k x     b m w v z

    //     ! @ # $ %     ^ & * ? ~
    //     \ [ { ( =     + ) } ] `
    //     ; , . p y     f g c r l  / |
    //     a o e u i     d h t n s  - _
    //     ' q j k x     b m w v z

  keymap {
    compatible = "zmk,keymap";

    DVORAK {
      display-name = "DVORAK";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
         &BSEXCL     &OPLUS        &TLBKT        &TLBRC        &FLPAR        &FEQUAL     &to KNES                                                     &to LOWR    &SAMPS        &SLPAR        &ERBRC         &NRBKT       &ZGRAVE     &PRQMARK     
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y        __                                                            __        &kp F         &kp G         &kp C         &kp R         &kp L      &FSPIPE
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp CAPS     &kp A         &kp O         &kp E         &kp U         &kp I        __         &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S      &MIUNDER
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp LSHFT   &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &mo FUNC    &kp ESC        &DLAT        &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT      &CASTAR       &HATILDE    &mo FUNC
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };
    
    KINESIS {
      display-name = "KINESIS";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
        &kp EQUAL    &kp N1        &kp N2        &kp N3        &kp N4         &kp N5     &to DVRK                                                     &mo LOWR    &kp N6        &kp N7        &kp N8         &kp N9       &kp N0      &kp BSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y        __                                                            __        &kp F         &kp G         &kp C         &kp R         &kp L      &kp FSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp ESC      &kp A         &kp O         &kp E         &kp U         &kp I        __         &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S     &kp MINUS
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LSHFT    &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &mo FUNC   &kp GRAVE      &kp CAPS      &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT     &kp LBKT       &kp RBKT    &mo FUNC
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    NUMBERS {
      display-name = "NUMBERS";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                   ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __           __           __            __             __           __          __                                                            __          __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                   ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           xx           xx            xx             xx           xx          __                                                            __          xx          &kp N7        &kp N8        &kp N9          xx          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           xx           xx            xx             xx           xx          __             __        __          __         __            __          xx          &kp N4        &kp N5        &kp N6          xx          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯              ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           xx           xx            xx             xx           xx                                   __          __                                   xx          &kp N1        &kp N2        &kp N3          xx          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            xx             xx                           xx         __        __          __        xx       &kp N0                          xx            xx            __            __          __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯                ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    LOWER {
      display-name = "LOWER";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                   ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __     &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    __                                                            xx          __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                   ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            __             __           __      &bootloader                                                   &bootloader     __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
     &studio_unlock     __           __            __             __           __          __             __        __      &bt BT_CLR     __        &stp STP_BAT    __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯              ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            __             __           __                                   __          __                                   __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            __             __                           __         __        __          __   &bl BL_TOG  &rgb_ug RGB_TOG                &bl BL_INC    &bl BL_DEC       __            __          __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯                ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
//      REMOVED &macro_ver
      >;
    };

    extra1 { 
      display-name = "Red";    
      status = "reserved";
    };

    extra2 { 
      display-name = "Purple";    
      status = "reserved";
    };

    extra3 { 
      display-name = "Cyan";    
      status = "reserved";
    };

    extra4 { 
      display-name = "Yellow";    
      status = "reserved";
    };

  };

};