#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/stp.h>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/pointing.h>

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

// #define DVRK                    0
// #define NUMR                    1
// #define LOWR                    2

#define DVRK                    1
#define TEST                    2
#define TEST_TWO                3
#define TEST_THREE              4
#define TEST_DEFAULT            5
#define NUMR                    6
#define LOWR                    7

#define FUNC                    &none

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define __                      &none
#define xx                      &trans

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define QUICK_TAP_MS            175
#define TAPPING_TERM_MS         125
#define STICKY_KEY_RELEASE_MS   300

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

#define KEYS_L                  0 1 2 3 4 5 6 \
                                14 15 16 17 18 19 20 \
                                28 29 30 31 32 33 34 \
                                46 47 48 49 50 51 \
                                60 61 62 63 64

#define KEYS_R                  7 8 9 10 11 12 13 \
                                21 22 23 24 25 26 27 \
                                39 40 41 42 43 44 45 \
                                54 55 56 57 58 59 \
                                71 72 73 74 75

#define THUMBS_L                35 36 52 65 66 67
#define THUMBS_R                37 38 53 68 69 70

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

// #define MAKE_QLT(NAME, HOLD, TAP) \
    // ZMK_HOLD_TAP(NAME, \
        // flavor = "hold-preferred"; \
        // tapping-term-ms = <TAPPING_TERM_MS>; \
        // quick-tap-ms = <QUICK_TAP_MS>; \
        // bindings = <HOLD>, <TAP>; \
        // retro-tap; \
    // )

// MAKE_QLT(qlt, &mo, &kp)

// ─────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────

/ {
  
    behaviors {

      #include "macros.dtsi"
      #include "version.dtsi"

      qlt: quick_layer_tap {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "hold-preferred";
        tapping-term-ms = <TAPPING_TERM_MS>;
        quick-tap-ms = <QUICK_TAP_MS>;
        bindings = <&mo>, <&kp>;
        display-name = "Quick-Layer-Tap";
      };

      EQPLUS: equal_plus {
        compatible = "zmk,behavior-mod-morph";
        label = "equal_plus";
        #binding-cells = <0>;
        bindings = <&kp EQUAL>, <&kp PLUS>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      BSLHEXCL: backslash_exclamation_mark {
        compatible = "zmk,behavior-mod-morph";
        label = "backslash_exclamation_mark";
        #binding-cells = <0>;
        bindings = <&kp BSLH>, <&kp EXCL>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      LBKTAT: left_bracket_at {
        compatible = "zmk,behavior-mod-morph";
        label = "left_bracket_at";
        #binding-cells = <0>;
        bindings = <&kp LBKT>, <&kp AT>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      LBRCHASH: left_brace_hash {
        compatible = "zmk,behavior-mod-morph";
        label = "left_brace_hash";
        #binding-cells = <0>;
        bindings = <&kp LBRC>, <&kp HASH>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      LPARDLLR: left_parenthesis_dollar {
        compatible = "zmk,behavior-mod-morph";
        label = "left_parenthesis_dollar";
        #binding-cells = <0>;
        bindings = <&kp LPAR>, <&kp DLLR>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      EQPCT: equal_percent {
        compatible = "zmk,behavior-mod-morph";
        label = "equal_percent";
        #binding-cells = <0>;
        bindings = <&kp EQUAL>, <&kp PRCNT>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };

      PLCARET: plus_caret {
        compatible = "zmk,behavior-mod-morph";
        label = "plus_caret";
        #binding-cells = <0>;
        bindings = <&kp PLUS>, <&kp CARET>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      RPARAMPS: right_parenthesis_amps {
        compatible = "zmk,behavior-mod-morph";
        label = "right_parenthesis_amps";
        #binding-cells = <0>;
        bindings = <&kp RPAR>, <&kp AMPS>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };

      RBRCSTAR: right_brace_star {
        compatible = "zmk,behavior-mod-morph";
        label = "right_brace_star";
        #binding-cells = <0>;
        bindings = <&kp RBRC>, <&kp STAR>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };     
      
      RBKTQMRK: right_bracket_qmakr {
        compatible = "zmk,behavior-mod-morph";
        label = "right_bracket_qmakr";
        #binding-cells = <0>;
        bindings = <&kp RBKT>, <&kp QMARK>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      GRVTILDE: grave_tilde {
        compatible = "zmk,behavior-mod-morph";
        label = "grave_tilde";
        #binding-cells = <0>;
        bindings = <&kp GRAVE>, <&kp TILDE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      FSLHPP: fslash_pipe {
        compatible = "zmk,behavior-mod-morph";
        label = "fslash_pipe";
        #binding-cells = <0>;
        bindings = <&kp FSLH>, <&kp PIPE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
      MINUSCORE: minus_underscore {
        compatible = "zmk,behavior-mod-morph";
        label = "minus_underscore";
        #binding-cells = <0>;
        bindings = <&kp MINUS>, <&kp UNDERSCORE>;
        mods = <(MOD_LSFT|MOD_RSFT)>;
      };
      
    };

    //  +  ` @ # $ %     ^ & * ? !
    //  =  \ [ { ( <     > ) } ] ~
    //     ; , . p y     f g c r l  / |
    //     a o e u i     d h t n s  - _
    //     ' q j k x     b m w v z

    //     ! @ # $ %     ^ & * ? ~
    //     \ [ { ( =     + ) } ] `
    //     ; , . p y     f g c r l  / |
    //     a o e u i     d h t n s  - _
    //     ' q j k x     b m w v z

  keymap {
    compatible = "zmk,keymap";

    DVORAK {
      display-name = "DVORAK";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
         &kp ESC    &BSLHEXCL      &LBKTAT      &LBRCHASH     &LPARDLLR      &EQPCT      &to TEST                                                     &mo LOWR   &PLCARET      &RPARAMPS     &RBRCSTAR     &RBKTQMRK     &GRVTILDE      __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y    &to TEST_TWO                                            &to TEST_DEFAULT    &kp F         &kp G         &kp C         &kp R         &kp L      &FSLHPP
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp CAPS     &kp A         &kp O         &kp E         &kp U         &kp I   &to TEST_THREE  &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S     &MINUSCORE
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp LSHFT   &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp FUNC      __          &kp ESC       &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT        __            __        &kp FUNC
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };
    
    TEST {
      display-name = "TEST";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
        &kp EQUAL    &kp N1        &kp N2        &kp N3        &kp N4         &kp N5     &to DVRK                                                     &mo LOWR    &kp N6        &kp N7        &kp N8         &kp N9       &kp N0      &kp BSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y        __                                                            __        &kp F         &kp G         &kp C         &kp R         &kp L      &kp FSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp ESC      &kp A         &kp O         &kp E         &kp U         &kp I        __         &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S     &kp MINUS
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LSHFT    &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp FUNC    &kp CAPS      &kp LBKT      &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT     &kp RBKT      &kp GRAVE    &kp FUNC  
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    TEST_TWO {
      display-name = "TEST_TWO";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
        &kp EQUAL    &kp EXCL      &kp AT        &kp HASH      &kp DLLR     &kp PRCNT    &to DVRK                                                     &mo LOWR   &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR     &kp BSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y        __                                                            __        &kp F         &kp G         &kp C         &kp R         &kp L      &kp FSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp ESC      &kp A         &kp O         &kp E         &kp U         &kp I        __         &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S     &kp MINUS
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LSHFT    &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp FUNC    &kp CAPS      &kp LBKT      &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT     &kp RBKT      &kp GRAVE    &kp FUNC  
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };
    
    TEST_THREE {
      display-name = "TEST_THREE";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
        &kp EQUAL    &kp EXCL      &kp AT        &kp HASH      &kp DLLR     &kp PRCNT    &to DVRK                                                     &mo LOWR   &kp CARET     &kp AMPS      &kp STAR      &kp LPAR      &kp RPAR     &kp BSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y        __                                                            __        &kp F         &kp G         &kp C         &kp R         &kp L      &kp FSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp ESC      &kp A         &kp O         &kp E         &kp U         &kp I        __         &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S     &kp MINUS
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LSHFT    &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp FUNC   &kp GRAVE      &kp CAPS      &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT     &kp LBKT       &kp RBKT    &kp FUNC
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };
    
    TEST_DEFAULT {
      display-name = "TEST_DEFAULT";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                  ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
        &kp EQUAL    &kp N1        &kp N2        &kp N3        &kp N4         &kp N5     &to DVRK                                                     &mo LOWR    &kp N6        &kp N7        &kp N8         &kp N9       &kp N0      &kp BSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                  ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp TAB     &kp SEMI     &kp COMMA      &kp DOT        &kp P         &kp Y        __                                                            __        &kp F         &kp G         &kp C         &kp R         &kp L      &kp FSLH
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤   ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp ESC      &kp A         &kp O         &kp E         &kp U         &kp I        __         &kp LCTRL  &kp LALT   &kp LMETA  &kp RCTRL         __        &kp D         &kp H         &kp T         &kp N         &kp S     &kp MINUS
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯             ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
        &kp LSHFT    &kp SQT        &kp Q         &kp J         &kp K         &kp X                                 __          __                                 &kp B         &kp M         &kp W         &kp V         &kp Z     &kp RSHFT
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯ ╭───────────┬─────────┼─────────┤ ├─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
         &kp FUNC   &kp GRAVE      &kp CAPS      &kp DOWN      &kp UP                   &qlt NUMR BSPC  &kp DEL     __          __     &kp RET   &kp SPACE                      &kp LEFT     &kp RIGHT     &kp LBKT       &kp RBKT    &kp FUNC
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯               ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    NUMBERS {
      display-name = "NUMBERS";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                   ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __           __           __            __             __           __          __                                                            __          __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                   ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           xx           xx            xx             xx           xx          __                                                            __          xx          &kp N7        &kp N8        &kp N9          xx          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           xx           xx            xx             xx           xx          __             __        __          __         __            __          xx          &kp N4        &kp N5        &kp N6          xx          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯              ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           xx           xx            xx             xx           xx                                   __          __                                   xx          &kp N1        &kp N2        &kp N3          xx          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            xx             xx                           xx         __        __          __        xx       &kp N0                          xx            xx            __            __          __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯                ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
      >;
    };

    LOWER {
      display-name = "LOWER";
      bindings = <
//     ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮                                                   ╭─────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────╮
           __     &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    __                                                            xx          __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤                                                   ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            __             __           __      &bootloader                                                   &bootloader     __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤    ╭─────────┬─────────╮ ╭─────────┬─────────╮    ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
     &studio_unlock     __           __            __             __           __          __             __        __      &bt BT_CLR     __        &stp STP_BAT    __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────╯              ├─────────┤ ├─────────┤              ╰─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            __             __           __                                   __          __                                   __            __            __            __            __          __
//     ├─────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╯  ╭───────────┬─────────┼─────────┤ ╭─────────┼─────────┬───────────╮  ╰─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────┤
           __           __           __            __             __                           __         __        __          __   &bl BL_TOG  &rgb_ug RGB_TOG                &bl BL_INC    &bl BL_DEC       __            __          __
//     ╰─────────┴─────────────┴─────────────┴─────────────┴─────────────╯                ╰───────────┴─────────┴─────────╯ ╰─────────┴─────────┴───────────╯                ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────╯
//      REMOVED &macro_ver
      >;
    };

    extra1 { 
      display-name = "Red";    
      status = "reserved";
    };

    extra2 { 
      display-name = "Purple";    
      status = "reserved";
    };

    extra3 { 
      display-name = "Cyan";    
      status = "reserved";
    };

    extra4 { 
      display-name = "Yellow";    
      status = "reserved";
    };

  };

};